@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper custom styles */
.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #f97316 !important;
}

.swiper-pagination-bullet-active {
  background: #ea580c !important;
}
